{% extends "with-navigation.html.twig" %}

{% block content %}
    <h1>Comments</h1>
    <p>Comments found: {{ comments|length }}</p>
    <p><a class="btn btn-primary" href='/comments/create'>Create new</a></p>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Message</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <th scope="row">{{ comment.id }}</th>
                <td>{{ comment.name }}</td>
                <td>{{ comment.email }}</td>
                <td>{{ comment.message }}</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-secondary" href='/comments/{{ comment.id }}/edit'>Edit</a>
                        <a class="btn btn-outline-danger" href='/comments/{{ comment.id }}/confirm-delete'>Delete</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}