<h1>Comments</h1>
<p>Comments found: {{ comments|length }}</p>
<p><a href='/comments/create'>Create new</a></p>

<ul>
    {% for comment in comments %}
    <li>
        id: {{comment.id}}<br>
        name: {{comment.name}}<br>
        email: {{comment.email}}<br>
        message: {{comment.message}}<br>
        <a href='/comments/{{ comment.id }}/edit'>edit</a>
        | <a href='/comments/{{ comment.id }}/confirm-delete'>delete</a>
    </li>
    {% endfor %}
</ul>
